@import url('https://fonts.googleapis.com/css?family=Montserrat:200,900,900i');

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

button {
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
  outline: 0;
  border: 0;
}

button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: 5px;
  color: #E74C3C;
  text-shadow: 4px 0px 0px rgba(52,152,219,0.7);
}

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #888;
  font-size: 12px;
}

.align + .align {
  margin-top: -30px;
}

.align-col {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.align-sub-txt {
  display: flex;
  flex-direction: row;
  width: 380px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.btn-save {
  background-color: #3498DB;
  border-bottom: 3px solid #2980B9;
}

.btn-load {
  background-color: #F2CF66;
  border-bottom: 3px solid #D1B358;
}

.btn-clear {
  background-color: #E74C3C;
  border-bottom: 3px solid #BD3E31;
}

.buttons {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
}

.line {
  border-top: 1px solid rgba(135,135,135,0.5);
  border-bottom: 1px solid rgba(135,135,135,0.7);
  width: 300px;
  height: 2px;
  margin-right: 0.5rem;
}

.pixel-painter-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;

}

#pixelPainter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #bdcedf;
  width: 450px;
  height: 450px;
}

/*CANVAS CSS*/
.canvas {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.div-row {
  display: flex;
  flex-direction: column;
}

.div-cell {
  width: 1rem;
  height: 1rem;
}

/*COLOR PALETTE CSS*/
.color-palette {
  display: flex;
  flex-direction: column;
}

.color-container {
  display: flex;
}

.current-color {
  width: 3rem;
  height: 3rem;
}

.div-cell-color {
  width: 1rem;
  height: 1rem;
}

/*FOOTER CSS*/
.footer {
  position: absolute;
  bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

