@import url('https://fonts.googleapis.com/css?family=Kumar+One');

html,
body {
  overflow-x: hidden;
  text-align: center;
  background-color: #a7d1ed;
}

h1 {
  font-size: 25px;
  font-family: 'Kumar One', cursive;
  color: #000;
}

/*Contains the entire canvas and color palette*/
#pixelPainter {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  background-color: #a7d1ed;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

/*#sizeDiv {
  width: 200px;
  margin: 0 auto;
  background-color: #333;
  font-size: 12px;
  padding: 0px;
}

#plusSizeBtn, #minusSizeBtn,
#height, #times, #width {
  display: inline-block;
}*/


/*CSS for the buttons*/
#buttonDiv {
  background-color: #a7d1ed;
  margin: 0 auto;
  padding: 5px;
  width: 200px;
}

/*CSS for the canvas*/
/*Div that surrounds the table/grid*/
#canvasDiv {
  width: 200px;
  margin: 0 auto;
  background-color: #a7d1ed;
  padding: 5px;
}

/*Div that surrounds the table/grid to add 1px border*/
#gridDiv {
  display: inline-block;
  border: 1px solid black;
}

/*div contains the actual table/grid*/
#pp-grid {
  display: inline-block;
  border-collapse: collapse;
  float: center;
}

.divRowGrid {
  display: table-row;
  padding: 4px;
}

.divCellGrid {
  display: table-cell;
  border: 0.5px solid #d8d8d8;
  padding: 4px;
}

/*CSS for the Color Palette*/
#colorDiv {
  background-color: #a7d1ed;
  margin: 0 auto;
  padding: 5px;
  width: 200px;
}

#colorBox {
  background-color: #fff;
  display: inline-block;
  height: 24px;
  width: 23px;
}

#pp-colorTable {
  display: inline-block;
}

.divRowColor {
  display: table-row;
  padding: 4px;
}

.divCellColor {
  display: table-cell;
  padding: 4px;
}